@import './app/variables';


.sub-container {
  margin: 0 40px;
  line-height: 40px;
}

.chuck-quote {
  margin-bottom: $bottomSpacing;
  padding: 20px 0;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  border: 1px dotted $fontColor;
  color: $fontColor;
  font-size: 18px;
}

.new-joke-section {
  display: block;
  margin-bottom: $bottomSpacing;
  line-height: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.new-jokes-btn {
  @include borderStyles;
  vertical-align: middle;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}

.jokes-input {
  @include borderStyles;
  vertical-align: middle;
  width: 50px;
  height: 58px;
  font-size: 24px;
}

.favorites-btn {
  @include borderStyles;
  margin: 0 auto;
  width: 120px;
  height: 45px;
  display: block;
}

.new-jokes-btn:hover, .favorites-btn:hover {
  background-color: $buttonHover;
}
