@import './app/variables';


.sub-container {
  margin: 0 40px;
  line-height: 40px;
  border: 1px dotted $fontColor;
  border-radius: 5px;
  text-align: center;
}

.chuck-quote {
  vertical-align: middle;
  font-size: 18px;
  color: $fontColor;
  font-family: $bodyFont;
}
