@import './app/variables';

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-favorites {
  font-family: $bodyFont;
  font-size: 24px;
  color: $headerColor;
}

.favorite {
  display: inline-block;
  margin: 10px;
  width: 300px;
  line-height: 100%;
  padding: 10px;
  background-color: $jokeBackground;
  text-align: center;
  font-family: $bodyFont;
  color: $fontColor;
}

.fav-btn {
  @include borderStyles;
  margin-left: 90%;
  font-size: 30px;
  color: $fontColor;
  background-color: transparent;
}

.fav-btn:hover {
  color: $favoriteHover;
}

.fav-btn:focus {
  outline: none;
}

.fav-clicked {
  color: $favoriteHover;
}
