@import './app/variables';

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite {
  display: inline-block;
  margin: 10px;
  width: 300px;
  line-height: 100%;
  padding: 10px;
  background-color: $jokeBackground;
  text-align: center;
  font-family: $bodyFont;
  color: $fontColor;
}
